<span class="size-14 display-block break-word" v-if="item.type == 'assignment'">
  <span
    class="size-14 blue--text"
    style="padding: 0px;"
    >{{$t(`callLogs.allocateLead`)}}</span
  >
  <br />
  <span v-if="item.staffInCharge">{{$t(`callLogs.leadAllocateFor`)}}: </span>
  <a
    :href="`mailto:${item.staffInCharge}`"
    target="_top"
    class="break-word"
    v-if="item.staffInCharge"
    >{{ item.staffInCharge }}</a
  >
</span>

<span
  class="size-14  display-block break-word"
  v-else-if="item.type == 'status'"
>
  <span
    class="size-14 blue--text"
    style="padding: 0px;"
    >{{$t(`callLogs.changeStatusLead`)}}</span
  ><br />
  <span
    >{{$t(`callLogs.from`)


    }}<span v-if="item.previousStatus" style="font-weight: bold">
      {{ item.previousStatusValue }} </span
    ><span style="font-weight: bold" v-else>
      {{$t(`callLogs.notStatus`)}}</span
    ></span
  >
  <span
    >{{$t(`callLogs.to`)


    }}<span v-if="item.currentStatus" style="font-weight: bold">
      {{ item.currentStatusValue }} </span
    ><span style="font-weight: bold" v-else>
      {{$t(`callLogs.notStatus`)}}</span
    ></span
  >
</span>

<span
  class="size-14  display-block break-word"
  v-else-if="item.type == 'statusCalendar'"
>
  <router-link
    :to="`/calendar/edit/${item.extension}`"
    class="size-14 blue--text"
    style="padding: 0px;"
    >{{$t(`callLogs.changeCalendar`)}}</router-link
  ><br />
  <span
    >{{$t(`callLogs.from`)


    }}<span v-if="item.previousStatus" style="font-weight: bold"
      >{{ $t("history." + item.previousStatus) }} </span
    ><span style="font-weight: bold" v-else>
      {{$t(`callLogs.notStatus`)}}</span
    ></span
  >
  <span
    >{{$t(`callLogs.to`)


    }}<span v-if="item.currentStatus" style="font-weight: bold">
      {{ $t("history." + item.currentStatus) }} </span
    ><span style="font-weight: bold" v-else>
      {{$t(`callLogs.notStatus`)}}</span
    ></span
  >
</span>

<span class="size-14  display-block break-word" v-else-if="item.type == 'edit'">
  <span class="size-14 blue--text" style="padding: 0px;">{{
    $t("history." + item.currentStatus)
  }}</span
  ><br />
  <span
    ><span v-if="item.note" style="font-style: italic">
      {{ item.note }}
    </span></span
  >
</span>

<span
  class="size-14  display-block break-word"
  v-else-if="item.type == 'editCalendar'"
>
  <router-link
    :to="`/calendar/edit/${item.extension}`"
    class="size-14 blue--text"
    style="padding: 0px;"
    >{{ $t("history." + item.currentStatus) }}</router-link
  ><br />
</span>

<span class="size-14  display-block break-word" v-else-if="item.type == 'note'">
  <span
    class="size-14 blue--text"
    style="padding: 0px;"
    >{{$t(`callLogs.updateNot`)}}</span
  ><br />
  <span
    ><span v-if="item.note" style="font-style: italic">
      {{ item.note }}
    </span></span
  >
</span>

<span
  class="size-14  display-block break-word"
  v-else-if="item.type == 'sendLead'"
>
  <span
    class="size-14 blue--text"
    style="padding: 0px;"
    >{{$t(`callLogs.sendTelegram`)}}</span
  ><br />
  <span
    ><span v-if="item.note" style="font-style: italic">
      {{ item.note }}
    </span></span
  >
</span>

<span
  class="size-14  display-block break-word"
  v-else-if="item.type == 'recieveTelegram'"
>
  <span
    class="size-14 blue--text"
    style="padding: 0px;"
    >{{$t(`callLogs.replyTelegram`)}}</span
  ><br />
  <span
    ><span v-if="item.note" style="font-style: italic">
      {{ item.note }}
    </span></span
  >
</span>

<span
  class="size-14  display-block break-word"
  v-else-if="item.type == 'sendCalendar'"
>
  <router-link
    :to="`/calendar/edit/${item.extension}`"
    class="size-14 blue--text"
    style="padding: 0px;"
    >{{$t(`callLogs.setupCalendarToTelegram`)}}</router-link
  ><br />
  <span
    ><span v-if="item.note" style="font-style: italic">
      {{ item.note }}
    </span></span
  >
</span>

<span
  class="size-14  display-block break-word"
  v-else-if="item.type == 'responseSale'"
>
  <span class="size-14 blue--text" style="padding: 0px;">{{
    $t("responseSale." + item.currentStatus)
  }}</span
  ><br />
  <span
    ><span
      v-if="item.note"
      style="font-style: italic;text-align: justify"
      class="break-word"
    >
      {{ item.note }}
    </span></span
  >
</span>
<span class="size-14  display-block break-word" v-else>
  <span class="size-14 blue--text" style="padding: 0px;">{{ item.type }}</span
  ><br />
  <span
    ><span v-if="item.note" style="font-style: italic">
      {{ item.note }}
    </span></span
  >
</span>
<span v-if="item.botId && item.refIds && item.refIds.length" class="mt-1">
  <span v-if="item.refIds.length>-1"
    >{{ $t("sendSmsList.sentSuccess") }} {{ item.refIds.length }}
    {{ $t("imageTelegram") }}</span
  ><br />
  <span v-for="(item1,i1) in item.refIds" :key="i1" class="mr-1">
    <el-button
      type="success"
      icon="el-icon-picture"
      @click="showImage(item, i1)"
      circle
    ></el-button>
  </span>
</span>
